<!DOCTYPE html>
<html>
<head>
  <title>Provisioning</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'ext-3.3.0/ext-all' %>
  <%= stylesheet_link_tag 'ext-3.3.0/xtheme-gray' %>
  <%= javascript_include_tag 'ext-3.3.0/adapter/ext/ext-base' %>
  <%= javascript_include_tag 'ext-3.3.0/ext-all' %>
  <%= javascript_include_tag 'images' %>
  <%= javascript_include_tag 'servers' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
